
body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    height: 100%;
    margin: 0;
    color: gray;
}

header {
    width: 100%;
    padding: 6px;
    border-bottom: 1px solid #F36E21;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 10001; /* place on top */
}

header > a {
    color: lightgray;
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F36E21;
}

.inner h1 {
    padding: 10% 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}

.inner h2, .inner h2 a {
    text-align: center;
    color: gray;
}

.inner p {
    text-align: center;
    color: gray;
}

.panel {
    height: 100vh; /* need for scrollmagic */
    width: 100% !important; /* to override stupid width problems caused by scrollmagic */
    background-color: black;
    border: 1px solid #F36E21;
}

.inner {
    margin: 0 auto; /* center the content of the sections */
    max-width: 85%;
}

#showGrad, #showUndergrad {
    cursor: pointer;
}

#showUndergrad { 
    color: white;
}

#showGrad {
    color: gray;
}

#undergraduate + div { /* set undergraduate as default degree view */
    display: none;
}

#undergraduate + div > p { /* graduate certifications */
    clear: left; /* end floating for degrees */
    padding-top: 50px;
}

.degree {
    float: left;
    width: 33%;
    border: 1px solid gray;
    cursor: pointer;
}

#showDegrees, #showCertificates {
    cursor: pointer;
}

#showDegrees {
    color: white;
}

#certificates { /* set degrees as default degree view within graduate */
    display: none;
}

.certificate {
    float: left;
    width: 33%;
    border: 1px dashed gray;
    cursor: pointer;
}

#certificates > a {
    color: gray;
}

#graduate > a {
    color: gray;
}

#showMajors, #showMinors {
    cursor: pointer;
}

#showMajors {
    color: white;
}

#minors { /* set majors as default degree view within undergraduates */
    display: none;
}

.minor {
    float: left;
    width: 33%;
    border: 1px dashed gray;
    cursor: pointer;
}

#news {
    background-color: rgb(211, 211, 211, 0.6);
    width: 500px;
    padding: 1%;
    display: inline-block;
    left: 150px;
    position: absolute;
    top: 100px;
}

.news_column:first-child {
    float: left;
    width: 46%;
    padding: 0;
    margin-right: 1%;
}

.news_column:last-child {
    float: right;
    width: 46%;
    margin-left: 1%;
}

.news_column h1 {
    font-size: 15px;
}

.news_column p {
    font-size: 12px;
}

.more_news > p {
    text-align: right;
    font-size: 10px
}

#popup {
    display: none; /* Hide until jQuery plugin loads, then plugin will hide it too */
    width: 70%;
    background-color: lightgray;
    padding: 2em;
    border: 1px solid black;
    transform: translateX(0) translateY(-40%);
}

#slide_background {
  transition: all 0.3s 0.3s;
}
#popup,
#slide_wrapper {
  transition: all 0.3s ease-out;
}

.popup_visible #popup {
  transform: translateX(0) translateY(0);
}