body {
    background-color: #F9FAFC;
    font-size: 14px;
    font-family: Arial;
    color: #3a3a3a;
    text-align: center;
    margin-top: 50px;
}

p {
    font-weight: bold;
}

#name {
    font-size: 20px;
}

#errorMsg, #userError {
    color: red;
}

.invalid {
    border: 2px solid red;
}

a {
    color: #7ABBDB;
    font-style: italic;
    font-weight: normal;
}

select {
    display: block;
    margin:0 auto;
    margin-bottom: 30px;
    width:150px;
}

label {
    color: gray;
}

div > div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background: #F9FAFC;
}

.wrapper {
    display: inline-block;
    /* for ie7 */
    *display: inline;
    *zoom: 1;
    padding: 20px;
}

#description {
    display: none;
}